name: linux

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

jobs:
  ubuntu-2204:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: '6.5.3'
          aqtversion: ==3.1.7

      - name: Install prerequisites
        run: |
          sudo apt update
          sudo apt install -y make gcc patchelf chrpath libfuse2 libxcb-cursor0 build-essential libgtk-3-dev

      - name: Build all
        run: |
          lrelease *.pro
          qmake -spec linux-g++
          make -j8 

      - name: Upload build asserts
        uses: actions/upload-artifact@v5
        with:
          path: |
            ./libtimestamp.so
