name: windows

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          arch: win64_mingw
          version: '6.5.3'
          aqtversion: ==3.1.7

      - name: Build all
        run: |
          lrelease *.pro
          qmake -spec win32-g++
          mingw32-make -j8

      - name: Upload build asserts
        uses: actions/upload-artifact@v6
        with:
          name: libtimestamp_mingw
          path: |
            ./release/timestamp.dll

  windows_msvc2019:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
    
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          arch: 'win64_msvc2019_64'
          version: '6.5.3'
          aqtversion: '==3.1.7'

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
          toolset: 14.29

      - name: Build all
        run: |
          c:/Windows/system32/WindowsPowerShell/v1.0/powershell.exe -ExecutionPolicy Bypass -NoLogo -NoProfile -File "./tools/replacer.ps1" -cc_info "msvc" -tpath ./plugininterface/plugininterface.json.temp -opath ./plugininterface/plugininterface.json
          lrelease timestamp.pro
          qmake timestamp.pro -tp vc
          msbuild timestamp.vcxproj /p:Configuration=Release /p:Platform=x64 /p:BuildInParallel=false
          cp ./release/timestamp.dll ./release/timestamp.msvc.dll

      - name: Upload build asserts
        uses: actions/upload-artifact@v6
        with:
          name: libtimestamp_msvc
          path: |
            ./release/timestamp.msvc.dll
